
.why-choose-us {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 1rem;
  align-items: center;
  gap: 2rem;
  background: #fff;
}



.why-choose-us .content {
  flex: 1 1 300px;
 
}
.why-choose-us .content p{
  flex: 1 1 300px;
  padding: 1rem 0;
  width: 60%;
  font-weight: 500;
  font-size: large;
}

.why-choose-us .gallery {
  flex: 1 1 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.why-choose-us .gallery img {
  width: 48%;
  border-radius: 8px;
  object-fit: cover;
}

.why-choose-us .btn{
    display: flex;
    background-color: #f97316;
    border-radius: 8px;
    border-color:black;
    font-size: 120%;
    text-align: justify;
    border: none;
    color: rgb(12, 12, 12);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-weight: 700;
}

.why-choose-us .btn:hover{
  background-color:#feb300;
}


